<%- include("header") -%>

<div class="box box-shadow" id="heading">
    <div class="heading-wrapper">
        <h1 class="header"> <%= listTitle %></h1>

        <form action="/deletePages" method="POST">
            <div class="delete delete-X">
                <h3>X</h3><button class=" delete delete-list-btn ">Delete List?</button>
            </div>
            <input type="hidden" name="pageName" id="placeholderAdd" value="<%= listTitle %>"> </input>
            <input type="hidden" name="newListItem" value="<%= newListItems %>">
        </form>
    </div>
</div>

<div class="container-all">
    <div class="container-left">
        <div id="sortableList" class="box box-shadow">

            <% newListItems.forEach(item => { %>
            <form action="/delete" method="POST">
                <div class="item">
                    <input class="input-check" type="checkbox" name="checkbox" value="<%= item._id %>"
                        onChange="this.form.submit()">
                    <p><%= item.name %></p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>">
            </form>
            <% }) %>

            <!-- Add new item to to-do list -->
            <form class="item" action="/" method="POST">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
                <button class="plus" type="submit" name="list" value="<%= listTitle %>">+</button>
            </form>
        </div>
    </div>

    <!-- Right Side Dynamic Pages -->
    <div class="pages container-right">
        <div id="simpleList" class="box-categories box-shadow">

            <!-- Pages Content -->
            <form action="/newpage" method="POST" class="add-new-list">
                <input class="new-cat" type="text" name="newPageInput" placeholder="Create List" autocomplete="off">
                <button class="new-cat-submit" type="submit" value="<%= listTitle %>">+</button>
            </form>
                <button class="cat-box page-btn" name="pageName" onclick="window.location.href='/'"><a href="/"></a>
                <p>Today</p>
            </button>
            <input type="hidden" name="pageName">


            <% pageLists.forEach(function(list) { %>
            <div class="cat-list-wrapper highlight">
                <button class="cat-box page-btn dynamic" name="pageName"
                    onclick="window.location.href='/<%= list.name %>'">
                    <p><%= list.name %></p>
                    <input type="hidden" name="pageName" value="<%= list.name %>">
            </div>
            <% }) %>

        

        </div>
    </div>

</div>
</div>


<%- include("footer") -%>
